beautifulsoup4==4.12.3
chromadb==0.5.18
flask==3.1.0
Flask-SQLAlchemy==3.1.1
langchain==0.2.11
langchain-chroma==0.1.4
langchain-community==0.2.10
langchain-core==0.2.24
langchain-openai==0.1.17
langchain-teddynote==0.0.18
langchain-text-splitters==0.2.2
langchainhub==0.1.21
langdetect==1.0.9
langsmith==0.1.93
opencv-python==4.10.0.84
pandas==2.2.2
PyMuPDF==1.24.13
pymysql==1.1.1
pypdf==4.3.1
requests==2.32.2
scikit-learn==1.5.2
scipy==1.14.1
SQLAlchemy==2.0.36
tokenizers==0.14.1
uvicorn==0.32.0
